# ehi-verification

> 标签: Java, Java 11+

## 简介

ehi-verification - Java library from Maven Central

最低 Java 版本：Java 11；已收录于 java-v11, java-v17, java-v21, java-v25, java-v26。

## 官网

- https://central.sonatype.com/artifact/com.yuxuan66%3Aehi-verification

## 历史版本号

- 未知

## 获取地址

- Maven 仓库地址：https://repo.maven.apache.org/maven2/com/yuxuan66/ehi-verification/
- Maven 坐标：`com.yuxuan66:ehi-verification`
