# io.wcm.qa.galenium.verification

> 标签: Java, Java 11+

## 简介

io.wcm.qa.galenium.verification - Java library from Maven Central

最低 Java 版本：Java 11；已收录于 java-v11, java-v17, java-v21, java-v25, java-v26。

## 官网

- https://central.sonatype.com/artifact/io.wcm.qa%3Aio.wcm.qa.galenium.verification

## 历史版本号

- 未知

## 获取地址

- Maven 仓库地址：https://repo.maven.apache.org/maven2/io/wcm/qa/io.wcm.qa.galenium.verification/
- Maven 坐标：`io.wcm.qa:io.wcm.qa.galenium.verification`
